@page "/wedontneed"

<PageTitle>Home</PageTitle>

<SectionContent SectionName="PageTitle">
    <h1 class="m-0 text-white">Blazing books</h1>
</SectionContent>

<div class="container-lg">
    <h1>Hello, world!</h1>
    Welcome to your new app.
    Thanks

</div>

